@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

body {
    font-family: "Quicksand", sans-serif;
    font-size: 1.5em;
    text-align: center;
}

img {
    width: 200px;
    padding: 20px;
}

input[type="checkbox"] {
    cursor: pointer;
}

label {
    margin: 25px 5px;
}

#form-box {
    position: absolute;
    width: 450px;
    height: 700px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: 5px solid;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
}

#remove-items {
    background-color: #E5E5E5;
    color: #302B29;
    padding: 30px;
    flex: auto;
}

.to-be-removed {
    text-decoration: line-through;
}

#remove-btn {
    display: none;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid white;
    margin: 10px;
    padding: 10px 15px;
    color: #FFFFFF;
    background-color: #FF0011;
    cursor: pointer;
}

form:has(.to-be-removed) #remove-btn {
    display: inline-block;
}

#new-item {
    font-family: "Railway";
    font-size: 0.85em;
    text-align: center;
    width: 200px;
    margin: 50px 15px;
    padding: 5px 0px;
    border: 2px solid darkgrey;
}

#add-btn {
    background-color: #01a88a;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    border: 2px solid white;
    margin: 10px;
    padding: 10px 15px;
    cursor: pointer;
}

#add-btn:disabled {
    background-color: #B0B0B0;
    cursor: not-allowed;
}

#add-btn:active:hover {
    background-color: darkslategrey;
}
